<div id="<%= dom_id client %>">
  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Case no:</strong>
    <%= client.case_no %>
  </p>

  <p>
    <strong>Case type:</strong>
    <%= client.case_type %>
  </p>

  <p>
    <strong>Court name:</strong>
    <%= client.court_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= client.address %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= client.mobile %>
  </p>

  <p>
    <strong>Case description:</strong>
    <%= client.case_description %>
  </p>

</div>
