<div id="<%= dom_id organization %>">
  <p>
    <strong>Name:</strong>
    <%= organization.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= organization.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= organization.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= organization.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= organization.country %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= organization.mobile %>
  </p>

</div>
